.table {
  border-collapse: collapse;
  table-layout: fixed;
}

.row {
  height: 48px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  color: var(--navigation-text-color);

  opacity: 0.8;
}
